body {
	font-family: helvetica, arial, "sans serif"; 
	font-size: 1.2em;
	height: 100vh; 
	background-image: url(../images/background.jpg); 
	background-size: cover; 
	background-position: top; 
	line-height: 1.4em;
}

button {
	background-color: #49b138;
	color: #F7F4E9;
	padding: 20px;
	margin-top: 20px;
	font-size: 1em;
	border-radius: 3px; 
	transition: all .2s; 
	box-shadow:  0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
}

button:hover {
	cursor: pointer;
	transform:  scale(1.1); 
	box-shadow:  1rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

img {
	padding: 2%;
	margin-top: 10px;
}

.title {
	font-size: 5em;
	font-family: 'Alegreya Sans', sans-serif;
	color: #49b138;
	line-height: .9em;
	text-shadow: 1px 2px black; 
	padding: 5%;
}

#and {
	font-size: .7em;
}

.container {
	width: 50%;
	margin: 4rem auto;
	padding: 5%;
	min-height: 150px;
	border-radius: 3px; 
	background-image: linear-gradient(to right, rgba(247, 244, 233, 0.75), rgba(247, 244, 233, 0.75));
	box-shadow:  1rem 2rem 3rem rgba(0, 0, 0, 0.5);
}



#questions {
	margin-top: 10px;
}

#answers {
	margin-top: 10px;
}

.choice:hover {
	background-color: white;
	max-width: 250px;
	cursor: pointer;
}

